@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="page">
    <div class="card-panel">
        <h1 class="display-4">Get to Know Joel Hilton!</h1>

        <div class="info-grid">
            <div class="info-item">
                <p class="info-label">Live Comedy</p>
                <a href="https://www.qwcomedy.com/" target="_blank">
                    Quick Wits Comedy
                </a>
            </div>
            <div class="info-item">
                <p class="info-label">Weekly Podcast</p>
                <a href="https://baconsale.com/" target="_blank">
                    Baconsale
                </a>
            </div>
        </div>

        <a class="feature-link" href="https://baconsale.com/" target="_blank">
            <img class="feature-image" src="~/images/Baconsale.jpg"
                 alt="Baconsale" />
        </a>
    </div>
</div>
